<div>
  <div>
    <h1>
      Communication #<%= @the_communication.id %> details
    </h1>

    <div>
      <div>
        <a href="/communications">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_communication/<%= @the_communication.id %>">
          Delete communication
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Comment body
      </dt>
      <dd>
        <%= @the_communication.comment_body %>
      </dd>

      <dt>
        Author
      </dt>
      <dd>
        <%= @the_communication.author_id %>
      </dd>

      <dt>
        Furniture
      </dt>
      <dd>
        <%= @the_communication.furniture_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_communication.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_communication.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit communication
    </h2>

    <form action="/modify_communication/<%= @the_communication.id %>"  method="post" >
      <div>
        <label for="comment_body_box">
          Comment body
        </label>

        <input type="text" id="comment_body_box" name="query_comment_body" value="<%= @the_communication.comment_body %>">
      </div>

      <div>
        <label for="author_id_box">
          Author
        </label>

        <input type="text" id="author_id_box" name="query_author_id" value="<%= @the_communication.author_id %>">
      </div>

      <div>
        <label for="furniture_id_box">
          Furniture
        </label>

        <input type="text" id="furniture_id_box" name="query_furniture_id" value="<%= @the_communication.furniture_id %>">
      </div>

      <button>
        Update communication
      </button>
    </form>
  </div>
</div>

<hr>
