<div>
  <div>
    <h1>
      NeighborGoods
    </h1>
  </div>

  <div>
    <h2>
      Your Neighbors. Your Furniture. Your Choice.
    </h2>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new furniture
    </h2>
  
  <%if current_user != nil %>
      <form action="/insert_furniture" method="post" enctype="multipart/form-data">
      <div>
        <label for="furniture_name_box">
          Furniture Name
        </label>

        <input type="text" id="furniture_name_box" name="query_furniture_name">
      </div>

      <div>
        <label for="furniture_image_box">
          Furniture Image
        </label>

        <input type="file" id="furniture_image_box" name="query_furniture_image">
      </div>

      <div>
        <label for="furniture_description_box">
          Furniture Description
        </label>

        <input type="text" id="furniture_description_box" name="query_furniture_description">
      </div>
      <button>
        Add furniture
      </button>
    </form>

  <% else %>
    <p>You must <a href="/users/sign_in">sign in </a> to list furniture. </p>
  <% end %>

</div>
    <h2>Furniture Available For Borrowing</h2>
<div>
  <% if current_user != nil %>
  <div>
    <table border="1">
      <tr>

        <th>
          Furniture Name
        </th>

        <th>
          Furniture Image
        </th>

        <th>
          Furniture Description
        </th>

        <th>
          Owner
        </th>

        <th>
          Details
        </th>

      </tr>
      <% @available_furnitures.each do |an_available_furniture| %>
      <tr>

        <td>
          <%= an_available_furniture.furniture_name %>
        </td>

        <td>
          <img src="<%= an_available_furniture.furniture_image %>" alt="<%= an_available_furniture.furniture_name %>" width="200"></td>
        </td>

        <td>
          <%= an_available_furniture.furniture_description %>
        </td>

        <td>
          <%= an_available_furniture.owner.email %>
        </td>

        <td>
          <a href="/furnitures/<%= an_available_furniture.id %>">
            Show Details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  <% else %>
    <p> You must <a href="/users/sign_in">sign in </a> to view furniture available. </p>
  <%end %>
  </div>
  
    <h2>Furniture Currently Being Borrowed</h2>
  
  <% if current_user != nil %>
  <div>
        <table border="1">
      <tr>

        <th>
          Furniture Name
        </th>
        <th>
          Furniture Image
        </th>
        <th>
          Furniture Description
        </th>
        <th>
          Owner
        </th>
        <th>
          Borrower
        </th>
        <th>
          Borrow Start Date & Time
        </th>
        <th>
          Borrow End Date & Time
        </th>
        <th>
          Details
        </th>

      </tr>
        <% @borrowed_furnitures.each do |a_borrowed_furniture| %>
      <tr>
        <td>
          <%= a_borrowed_furniture.furniture_name %>
        </td>

        <td>
          <img src="<%= a_borrowed_furniture.furniture_image %>" alt="<%= a_borrowed_furniture.furniture_name %>" width="200">
        </td>

        <td>
          <%= a_borrowed_furniture.furniture_description %>
        </td>

        <td>
          <%= a_borrowed_furniture.owner.email %>
        </td>

        <td>
          <%= a_borrowed_furniture.borrower.email %>
        </td>

        <td>
          <%= a_borrowed_furniture.rent_start %>
        </td>

        <td>
          <%= a_borrowed_furniture.rent_end %>
        </td>

        <td>
          <a href="/furnitures/<%= a_borrowed_furniture.id %>">
            Show Details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  <% else %>
    <p>You must <a href="/users/sign_in">sign in </a> to view current furniture being borrowed. </p>
  <% end %>
  </div>
</div>

<hr>
