<div>
  <div>
    <h1>
      List of all furnitures
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new furniture
    </h2>

    <form action="/insert_furniture" method="post">
      <div>
        <label for="furniture_name_box">
          Furniture Name
        </label>

        <input type="text" id="furniture_name_box" name="query_furniture_name">
      </div>

      <div>
        <label for="furniture_image_box">
          Furniture Image
        </label>

        <input type="text" id="furniture_image_box" name="query_furniture_image">
      </div>

      <div>
        <label for="furniture_description_box">
          Furniture Description
        </label>

        <input type="text" id="furniture_description_box" name="query_furniture_description">
      </div>

      <div>
        <label for="owner_id_box">
          Owner
        </label>

        <input type="text" id="owner_id_box" name="query_owner_id">
      </div>

      <button>
        Create furniture
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Furniture Name
        </th>

        <th>
          Furniture Image
        </th>

        <th>
          Furniture Description
        </th>

        <th>
          Owner
        </th>

        <th>
          Furniture Borrowed Start Date 
        </th>

        <th>
          Furniture Borrowed End Date
        </th>

        <th>
          Borrower
        </th>

        <th>
          Details
        </th>

      </tr>

      <% @list_of_furnitures.each do |a_furniture| %>
      <tr>

        <td>
          <%= a_furniture.furniture_name %>
        </td>

        <td>
          <%= a_furniture.furniture_image %>
        </td>

        <td>
          <%= a_furniture.furniture_description %>
        </td>

        <td>
          <%= a_furniture.owner_id %>
        </td>

        <td>
          <%= a_furniture.rent_start %>
        </td>

        <td>
          <%= a_furniture.rent_end %>
        </td>

        <td>
          <%= a_furniture.borrower_id %>
        </td>

        <td>
          <a href="/furnitures/<%= a_furniture.id %>">
            Show Details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
