<div>

  <div style="background-color: #E6E6FA; padding: 5px; text-align: center; border-radius: 10px;">
    <h1 style="margin: 5; color: #4B0082;">NeighborGoods</h1>
    <h2 style="margin: 0; font-size: 1.5; color: #6A5ACD;">
      Your Neighbors. Your Furniture. Your Choice.
    </h2>
  </div>

  <hr>

  <div>
    <div style="background-color: #E6E6FA; padding: auto; text-align: left; border-radius: 10px;">
      <h2>
        List Your Furniture 
      </h2>

      <%if current_user != nil %>
        <form action="/insert_furniture" method="post" enctype="multipart/form-data">
          <div>
            <label for="furniture_name_box">
              Furniture Name
            </label>

            <input type="text" id="furniture_name_box" name="query_furniture_name">
          </div>

          <div>
            <label for="furniture_image_box">
              Furniture Image
            </label>

            <input type="file" id="furniture_image_box" name="query_furniture_image">
          </div>

          <div>
            <label for="furniture_description_box">
              Furniture Description
            </label>

            <input type="text" id="furniture_description_box" name="query_furniture_description">
          </div>
          <button>
            Add furniture
          </button>
        </form>

      <% else %>
        <p>You must <a href="/users/sign_in">sign in </a> to list furniture. </p>
      <% end %>

    </div>

      <hr>
      
    <h2>Furniture Available For Borrowing</h2>
    <div>
      <% if current_user != nil %>
        <div>
          <table border="1" style="width: 100%; border-collapse: collapse; text-align: center;">
            <tr>

              <th style="padding: 5px;">
                Furniture Name
              </th>

              <th style="padding: 5px;">
                Furniture Image
              </th>

              <th style="padding: 5px;">
                Furniture Description
              </th>

              <th style="padding: 5px;">
                Owner
              </th>

              <th style="padding: 5px;">
                Details
              </th>

            </tr>
            <% @available_furnitures.each do |an_available_furniture| %>
              <tr>

                <td>
                  <%= an_available_furniture.furniture_name %>
                </td>

                <td>
                  <img src="<%= an_available_furniture.furniture_image %>" alt="<%= an_available_furniture.furniture_name %>" style="width: 300px; height: 300px; object-fit: contain; display: block; margin: 0 auto;">
                </td>

              <td>
                <%= an_available_furniture.furniture_description %>
              </td>

              <td>
                <%= an_available_furniture.owner.email %>
              </td>

              <td>
                <a href="/furnitures/<%= an_available_furniture.id %>">
                  Show Details
                </a>
              </td>
            </tr>
          <% end %>
        </table>
      <% else %>
        <p> You must <a href="/users/sign_in">sign in </a> to view furniture available. </p>
      <%end %>
    </div>

    <hr>

    <h2>Furniture Currently Being Borrowed</h2>

    <% if current_user != nil %>
      <div>
        <table border="1" style="width: 100%; border-collapse: collapse; text-align: center;">
          <tr>

            <th style="padding: 5px;">
              Furniture Name
            </th>
            <th style="padding: 5px;">
              Furniture Image
            </th>
            <th style="padding: 5px;">
              Furniture Description
            </th>
            <th style="padding: 5px;"> 
              Owner
            </th>
            <th style="padding: 5px;">
              Borrower
            </th>
            <th style="padding: 5px;">
              Borrow Start Date & Time
            </th>
            <th style="padding: 5px;">
              Borrow End Date & Time
            </th>
            <th style="padding: 5px;">
              Details
            </th>

          </tr>
          <% @borrowed_furnitures.each do |a_borrowed_furniture| %>
            <tr>
              <td>
                <%= a_borrowed_furniture.furniture_name %>
              </td>

              <td>
                <img src="<%= a_borrowed_furniture.furniture_image %>" alt="<%= a_borrowed_furniture.furniture_name %>" style="width: 300px; height: 300px; object-fit: contain; display: block; margin: 0 auto;">
              </td>

              <td>
                <%= a_borrowed_furniture.furniture_description %>
              </td>

              <td>
                <%= a_borrowed_furniture.owner.email %>
              </td>

              <td>
                <%= a_borrowed_furniture.borrower.email %>
              </td>

              <td>
                <%= a_borrowed_furniture.rent_start.strftime("%m/%d/%Y %I:%M %p") %>
              </td>

              <td>
                <%= a_borrowed_furniture.rent_end.strftime("%m/%d/%Y %I:%M %p") %>
              </td>

              <td>
                <a href="/furnitures/<%= a_borrowed_furniture.id %>">
                  Show Details
                </a>
              </td>
            </tr>
          <% end %>
        </table>
      <% else %>
        <p>You must <a href="/users/sign_in">sign in </a> to view current furniture being borrowed. </p>
      <% end %>
    </div>
  </div>

  <hr>
